<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8"utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit MA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>{JS}</script>
    <style>{CSS}</style>
</head>
<body>
<div>
    <div class="re_main_container">
        <!-- 公告上方功能 -->
        <div class="re_functionG">
            <!-- 公告性质 -->
            <!-- 新公告绿色提示点 li加上class="ann_li_dot 亮色 on" -->
            <div class="ann_title_btnG">
                <ul class="re_titleG" id="ul_scroll">
                    <li style="display:none;" class="on" id="ann_important" value="important" >重要公告<i></i></li>
                    <li style="display:none;" id="ann_personal" value="personal">股东/代理公告<i></i></li>
                    <li style="display:none;" id="ann_general" value="general">一般公告<i></i></li>
                    <li id="ann_proNews" value="proNews">私人消息<i></i></li>
                    <li style="display:none;" id="ann_proChat" value="proChat">私人会话<i></i></li>
                </ul>
            </div>
        </div>
        <!-- 公告上方功能end -->

        <div id="div_ann_important" class="ann_table_autoW">
            <!--import important html-->
        </div>

        <div id="div_ann_general" class="ann_table_autoW">
            <!--import general html-->
        </div>

        <div id="div_ann_personal" class="ann_table_autoW">
            <!--import personal html-->
        </div>

        <div id="div_ann_proNews" class="ann_table_autoW">
            <!--import proNews html-->
        </div>

        <div id="div_ann_proChat" class="ann_table_autoW">
            <!--import proChat html-->
        </div>
    </div>
</div>

</body>
</html>