<!DOCTYPE html>
<html lang="en">
<head>
  <script>{JS}</script>
  <style>{CSS}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="features_DataMain">
  <ul class="features_list">
    <li id="features_rwd" class="features_item">
      <span class="features_title">响应式网页设计</span>
      <img src="../../images/control/features_rwd_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					网站更简便的在不同的設備上使用并且在不同的屏幕尺寸获得相同的功能及浏览体验，已达到减少使用者進行缩放、平移和滚动等操作行為。
				</span>
    </li>
    <li id="features_dasboard" class="features_item">
      <span class="features_title">仪表盘</span>
      <img src="../../images/control/features_dasboard_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					将数据可视化，以图像展示度量信息和关键业务指标。
				</span>
    </li>
    <li id="features_search" class="features_item">
      <span class="features_title">快速搜索</span>
      <img src="../../images/control/features_search_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					让您快速搜索任何级别的下线并管理其帐户信息。
				</span>
    </li>
    <li id="features_copy" class="features_item">
      <span class="features_title">复制资料</span>
      <img src="../../images/control/features_copy_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					通过按“复制资料”按钮快速的复制报表数据，粘贴到电子表格(excel)中而不丢失表格格式。
				</span>
    </li>
    <li id="features_reports" class="features_item">
      <span class="features_title">报表</span>
      <img src="../../images/control/features_reports_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					各种报表：有结果主单报告，未有结果主单报告，取消单分析。 使用这些报表跟踪特定活动并向下搜索详细信息。
				</span>
    </li>
    <li id="features_total" class="features_item">
      <span class="features_title">即时注单</span>
      <img src="../../images/control/features_total_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					可透过此页面观察所有旗下的总投注金额及笔数以达到评估您所占有成数的赢输结果。
				</span>
    </li>
    <li id="features_wmc" class="features_item">
      <span class="features_title">注单监视视窗</span>
      <img src="../../images/control/features_wmc_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					使用注单监视视窗即时的跟踪会员投注情况，您亦可对指定对象及特定事项进行设置以达到警示的效果。
				</span>
    </li>
    <li id="features_performance" class="features_item">
      <span class="features_title">帐户绩效概况</span>
      <img src="../../images/control/features_performance_cn.jpg" alt="" class="features_img">
      <span class="features_txt">
					通过“绩效概况”，可以了解下线的获利率,实货量跟赢。 按照这数据可以快速的调整下线设置，无需切换页面。
				</span>
    </li>
    <li id="show_nodata" class="no_info" style="display: none;">无资料</li>
  </ul>
</div>
</body>
</html>