<!DOCTYPE html>
<html>
<head>
    <script>{JS}</script>
    <style>{CSS}</style>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<div>



    <div class="url_main">
        <div class="url_linkG" id="showmain">

        </div class="url_linkG">


        <!--XMP-->
        <div style="display:none">
            <xmp id="xmp_header">
                <div data-settitle="*TITLENAME*" class="url_link_itemG">
                    <div class="set_type_itembg">
                        <ul class="url_listG">
            </xmp>
            <xmp id="xmp_contant">
                <li class="url_list_item"><a href="*URL*" target="_blank">*URL*</a></li>
            </xmp>
            <xmp id="xmp_foot">
                </ul>
        </div>
    </div>
    </xmp>
</div>
<!--XMP-->
</body>
</html>