<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>{JS}</script>
    <title></title>
</head>
<body>
<div>

    <!-- 显示绿色点 使用class="bm_dot" -->
    <div class="bm_main tw">
        <ul class="bm_btnG">
            <li id="bm_problem_li">
                <i class="bm_problem" id="bm_problem_i"></i>
                <div class="bm_txt">
                    <span>问题帐号</span>
                </div>
            </li>
            <li id="bm_announcement_li">
                <i class="bm_announcement" id="bm_announcement_i"></i>
                <div class="bm_txt">
                    <span>公告</span>
                </div>
            </li>
            <li id="bm_quick_search">
                <i class="bm_search"></i>
                <div class="bm_txt">
                    <span>快速搜索</span>
                </div>
            </li>
            <li id="bm_live_chat">
                <i class="bm_chat"></i>
                <div class="bm_txt">
                    <span>在线客服</span>
                </div>
            </li>
            <li id="bm_wmc">
                <i class="bm_wmc"></i>
                <div class="bm_txt">
                    <span>注单监视视窗</span>
                </div>
            </li>
        </ul>
    </div>


</div>
</body>
</html>