<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script>{JS}</script>
    <style>{CSS}</style>
</head>
<body>
<!-- 從首頁點擊時加上.login_page -->
<div>


    <div class="require_header">
        <i id="back_btn" class="require_back_btn"></i>
        <span>最低需求</span>
    </div>
    <div id="show_equire" class="require_box">
        <div class="require_boxWidth">
            <div class="require_title">使用本产品的完整最低需求为以下：</div>
            <!-- 1 -->
            <table class="require_tb">
                <caption>手机操作系统</caption>
                <tr>
                    <th width="50%">操作系统</th>
                    <th width="50%">需求</th>
                </tr>
                <tr>
                    <td>安卓</td>
                    <td>安卓7或以上</td>
                </tr>
                <tr>
                    <td>iOS</td>
                    <td>iOS12或以上</td>
                </tr>
            </table>
            <!-- 2 -->
            <table class="require_tb">
                <caption>手机浏览器</caption>
                <tr>
                    <th width="50%">安卓浏览器</th>
                    <th width="50%">需求</th>
                </tr>
                <tr>
                    <td><a data-browser="chrome" class="word_link_new">Chrome</a></td>
                    <td>版本87或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="uc" class="word_link_new">UC 浏览器</a></td>
                    <td>版本12或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="qq" class="word_link_new">QQ 浏览器</a></td>
                    <td>版本10或以上</td>
                </tr>
                <tr>
                    <th width="50%">iOS 浏览器</th>
                    <th width="50%">需求</th>
                </tr>
                <tr>
                    <td><a data-browser="safari" class="word_link_new">Safari</a></td>
                    <td>版本11或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="uc" class="word_link_new">UC 浏览器</a></td>
                    <td>版本13或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="chrome" class="word_link_new">Chrome</a></td>
                    <td>版本84或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="qq" class="word_link_new">QQ 浏览器</a></td>
                    <td>版本11或以上</td>
                </tr>
            </table>
            <!-- 3 -->
            <table class="require_tb">
                <caption>桌面操作系统</caption>
                <tr>
                    <th width="50%">操作系统</th>
                    <th width="50%">需求</th>
                </tr>
                <tr>
                    <td>Windows</td>
                    <td>Windows 7或10</td>
                </tr>
                <tr>
                    <td>Mac OS</td>
                    <td>OS X 10.10或·以上</td>
                </tr>
            </table>
            <!-- 4 -->
            <table class="require_tb">
                <caption>桌面浏览器</caption>
                <tr>
                    <th width="50%">Windows 浏览器</th>
                    <th width="50%">需求</th>
                </tr>
                <tr>
                    <td><a data-browser="chrome" class="word_link_new">Chrome</a></td>
                    <td>版本85或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="firefox" class="word_link_new">火狐</a></td>
                    <td>版本60或以上</td>
                </tr>
                <tr>
                    <th>Mac 浏览器</th>
                    <th>需求</th>
                </tr>
                <tr>
                    <td><a data-browser="safari" class="word_link_new">Safari</a></td>
                    <td>版本12或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="chrome" class="word_link_new">Chrome</a></td>
                    <td>版本75或以上</td>
                </tr>
                <tr>
                    <td><a data-browser="firefox" class="word_link_new">火狐</a></td>
                    <td>版本60或以上</td>
                </tr>
            </table>
            <h2>不支援的浏览器和操作系统</h2>
            <ul class="require_txt">
                <li>为了提供最佳的用户体验，我们将保持所支援的浏览器或操作系统的清单简短。如果有漏洞或错误出现在那些我们所没有支援的浏览器或操作系统里面，我们保留不给予修正的权利。倘若您还是坚持使用那些不被我们所支援的浏览器或操作系统，您可能会遇到系统的效能问题或关于画面上的问题。</li>
                <li>因此，我们建议您使用我们所支援的浏览器或操作系统，以确保在安全性、效能和使用体验的最优化。</li>
            </ul>
            <button id="back_index_btn" class="require_btn">返回登入页面</button>
        </div>
    </div>






</div>
</body>
</html>