<!DOCTYPE html>
<html>
<head>
  <script>{JS}</script>
  <style>{CSS}</style>

  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title></title>
</head>
<body>
<div>

  <div class="tbet_main">

    <!-- 玩法menu -->
    <!-- 分頁按鈕當前選項 class="on" -->
    <div class="bet_menu_typeG">
      <ul class="re_titleG">
        <li id="bet_LIST" class="on">流水注单</li>
        <li id="bet_ABNORMAL">异常注单</li>
        <li id="bet_LIVE">滚球危险球</li>
      </ul>
    </div>
    <!-- 玩法menu end -->
    <!-- 球類與賽事 -->
    <div id="bet_body" class="re_main_container"></div>
    <!-- 球類與賽事 end -->


  </div>



</div>
</body>
</html>