# macOS
.DS_Store

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript incremental build info
*.tsbuildinfo

# Logs / env
*.log
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Editor
.vscode/
.idea/

# Misc
coverage/
