@charset "UTF-8";

.cal_div {
    width:312px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    z-index:3;
}
.re_filter600 .cal_div{width: 328px;}

.cal_YearContain {
    width:100%;
    padding: 8px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.cal_previous, .cal_next {
    display:inline-block;
    width:38px;
    height:38px;
    cursor:pointer;
    opacity: .6;
}
.cal_previous { background:url(../../images/control/B_arrowL.svg) center no-repeat; }
.cal_next { background:url(../../images/control/B_arrowR.svg) center no-repeat;}
.cal_previous.no_hand, .cal_next.no_hand{ opacity: .1; }

/*------------select樣式--------------*/
.cal_month_label, .cal_year_label {
    position:relative;
    width: 120px;
    height: 38px;
}
.cal_year_label{
    width: 100px;
    margin-left: 16px;
}
.cal_month_label select, .cal_year_label select {
    padding-left: 9px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    font-size: 14px;
}
@-moz-document url-prefix(){
    .cal_month_label select, .cal_year_label select {
        padding-left: 7px;
    }
}

.cal_month_label:before, .cal_year_label:before, .cal_month_label:after, .cal_year_label:after{content:'';
    display:block;
    position:absolute;
    pointer-events:none;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cal_month_label:before, .cal_year_label:before {width:36px;
    height:36px;
    background-color: #fff;
    right: 1px;
}
.cal_month_label:after, .cal_year_label:after {
    width:11px;
    height:7px;
    background:url(../../images/control/re_sreachArr_D.svg) center no-repeat;
    right:16px;
    opacity: .6;
}


/*------------select樣式 結束--------------*/

.cal_div>div:nth-child(2){
    padding:0 16px 8px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cal_contain { background-color:#fff;}

.cal_date, .cal_date_left, .cal_week, .cal_week_left  {
    width:14.2%;
    height:40px;
    font-size:14px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.cal_week,
.cal_week_left {
    position: relative;
    height: 32px;
    background-color: #f6f6f6;
    margin-bottom: 8px;
}
.cal_week:nth-child(7):after,
.cal_week_left:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 100%;
    background-color: #f6f6f6;
    top: 0;
    left: -16px;
}
.cal_week:nth-child(7):after{
    left: auto;
    right: -16px;
}
.cal_contain { font-size:0px;}

.cal_date,
.cal_date_left {
    background-color: rgba(227, 227, 227, 0);
    cursor:pointer;
}
.cal_week_left,
.cal_date_left { width:14.8%;}

.cal_goal {position: relative;}
.cal_goal:after{
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: rgba(56, 187, 143, .87);
    border-radius: 4px;
    bottom: 7px;
    right: 0;
    left: 0;
    margin: auto;
}
.cal_date_left .cal_goal { background-position: 8px 2px;}


.cal_space{
    color: rgba(0, 0, 0, .24);
    cursor: default;
}
.cal_select{background-color: #e3e3e3;}
.cal_selectmid{background-color: rgba(0, 0, 0, 0.08);}
.cal_noselect{
    color: #DDD;
    cursor: default;
}





@media only (max-width: 599px){
    .cal_div {width: calc(100% - 64px);}

}