@charset "UTF-8";
/*Dashboard*/
.da_mainbg{
    width: 100%;
    background-color: #f0f0f0;
}
.da_banner{
    position: relative;
    height: 136px;
    max-width: 1384px;
    display: none;
}
.da_banner:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 16px 16px 0;
    height: calc(100% - 16px);
    background: #015A6A url(../images/control/festival_en.jpg) center/768px 120px no-repeat;
}
.da_banner.tw:before{
    background-image: url(../images/control/festival_tw.jpg);
}
.da_banner.cn:before{
    background-image: url(../images/control/festival_cn.jpg);
}
.da_main{
    max-width: 1384px;
    padding: 16px 0 0;
}
.da_linkG{
    padding: 0 8px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.da_linkG li{
    width: 100%;
    padding: 0 8px;
}
/*.da_linkG li:last-child{display: none;}第三階段*/
.da_linkG span{
    position: relative;
    display: block;
    height: 48px;
    line-height: 48px;
    padding-left: 48px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    font-weight: 600;
}
.da_report_btn:before,
.da_accma_btn:before,
.da_totalbet_btn:before{
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 100%;
    background: url(../../images/control/Breports.svg) no-repeat center;
    top: 0;
    left:16px;
    opacity: .6;
}
.da_accma_btn:before{background-image: url(../../images/control/Bacct_mgmt.svg);}
.da_totalbet_btn:before{background-image: url(../../images/control/Btotal_bets.svg);}
.da_linkG span:after{content: '';display: block;position: absolute;width: 6px;height: 10px;background: url(../../images/control/B_arrowR.svg) no-repeat;background-size: cover; top: 0;bottom: 0;right: 16px;margin: auto;opacity:.6;}


.da_valuemain{
    padding: 56px 8px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.da_valueG{
    position: relative;
    width: 50%;
    padding: 0 8px;
}
.da_valueG:nth-child(3){margin-top: 1px;}
.da_valueG:before{
    content: attr(data-valuetitle);
    position: absolute;
    display: block;
    height: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, .52);
    font-weight: bold;
    font-size: 16px;
    top: -32px;
}
.da_value_bg{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.da_value_tb_bg{padding: 8px 0;}
.da_value_tb{width: 100%;}
.da_value_tb td{
    height: 48px;
    padding: 8px 16px;
}
.da_value_tb tt{
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-weight: 300;
}
.da_value_tb span{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.da_sysMsg{
    padding: 16px;
    font-weight: 600;
}

.da_canvasG{
    position: relative;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 56px;
}
.da_canvasG li:nth-child(2){display: none;}
.da_canvasG:nth-last-child(2){margin-bottom: 0;}
.da_canvasG:before{
    content: attr(data-canvastitle);
    position: absolute;
    display: block;
    height: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, .52);
    font-weight: bold;
    font-size: 16px;
    top: -32px;
}
.da_canvas_box{
    position: relative;
    padding: 20px 24px 20px 16px;
}
.da_canvas_box:after{
    content:attr(data-canvasday);
    position: absolute;
    display: block;
    font-size: 12px;
    bottom: 19px;
    left: 20px;
    -webkit-transform: scale(0.91);
}
.da_canvas_box.tw:after{
    left: 25px;
    bottom: 18px;
}
.da_canvasG canvas{
    width: 100%;
    height: 260px!important;
}
.da_tipG{
    position: absolute;
    min-width: 112px;
    height: 96px;
    padding: 12px 16px 16px;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    top: -47px;
    left: 16px;
}
.da_tipG:before{
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #6da4b5;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
}

.da_tipG.tip_left{
    left: auto;
    right: 29px;
}
.da_tipG.tip_left:before{
    left: auto;
    right: -20px;
}

.da_tipG.yellow_dot:before{border-color:#d6a744;}
.da_tipG.green_dot:before{border-color:#5bb487;}
.da_tipG.red_dot:before{border-color:#c13d30;}

.da_tip_txt{
    font-size: 12px;
    font-weight: 600;
}
.da_tip_txt span{
    display: block;
    white-space: nowrap;
}
.da_tip_txt span:first-child{font-weight: 300;}
.da_tip_txt>div:first-child{margin-bottom: 10px;}



/*alert_choose_lan*/
.ar_main.ar_chooseG{
    width: 280px;
    padding: 0;
}
.ar_choose_Info{padding: 8px 0;}
.ar_choose_Info li{
    position: relative;
    height: 48px;
    padding: 0 16px;
    color: #000;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
li.ar_choose_lanCN,
li.ar_choose_lanHK,
li.ar_choose_lanEN{
    padding: 0 48px;
    color: rgba(0, 0, 0, .8);
}
.ar_choose_lanCN:before,
.ar_choose_lanHK:before,
.ar_choose_lanEN:before{ 
    content: '';
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    background:url(../../images/control/china.svg) no-repeat center;
    top: 0;
    left: 0;
}
.ar_choose_lanHK:before{background-image:url(../../images/control/hk.svg);}
.ar_choose_lanEN:before{background-image:url(../../images/control/english.svg);}

/*my_setting*/
.set_moneyG{
    height: 60px;
    background-color: #fff;
    padding: 16px 16px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.title_fixed .set_moneyG{display: none;}
.set_money_item{width: 50%;}
.set_money_item_title{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;
}
.set_soprt_btnG{background-color: #fff;}
.set_typeG{
    width: 100%;
    max-width: 1368px;
    padding: 56px 8px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.set_type_itemG,
.url_link_itemG{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0 8px;
    margin-bottom: 56px;
}
.set_type_itemG:before,
.url_link_itemG:before{
    content: attr(data-settitle);
    position: absolute;
    height: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, .522);
    font-size: 16px;
    font-weight: bold;
    top: -32px;
    left: 8px;
}
.set_type_itembg{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.set_type_title{
    padding-top: 17px;
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    margin-bottom: 5px;
}
.set_type_comm{
    width: 100%;
    padding: 0 16px 16px;
    border-bottom: 1px solid #e1e1e1;
}
.set_numberG{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.set_type_comm .set_numberG div{width: 25%;}
.set_type_betlimit{
    width: 100%;
    padding: 0 16px 16px;
}
.set_type_betlimit .set_numberG div{width: 50%;}
.set_type_mini_title{
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
}
.set_numberG tt,
.set_numberG tt{
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
}
/*new url*/
.url_main{
    padding: 45px 8px 0;
    background-color: #f0f0f0;
}
.url_linkG{
    display: table;
    width: 100%;
    max-width: 1368px;
}
.url_listG{width: 100%;}
.url_link_itemG:nth-child(odd){
    float: left;
    clear:left;
}
.url_link_itemG:last-child{margin-bottom: 0;}
.url_list_item{
    position: relative;
    height: 48px;
    line-height: 48px;
    padding:0 16px;
    background-color: transparent;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: 600;
}
.url_list_item:last-child{border-bottom: 0;}
.url_list_item:after{
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 10px;
    background:url(../../images/control/B_arrowR.svg);
    opacity: .6;
    top: 19px;
    right: 16px;
}
.url_list_item a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*contact*/
.contact_typeG{
    width: 100%;
    max-width: 1368px;
    padding: 0 8px;
}
.contact_title{padding:14px 16px 13px;}
.contact_type_title{
    position: relative;
    width: 100%;
    height: 49px;
    line-height: 48px;
    padding-left: 45px;
    border-bottom: 1px solid #e0e0e0;
    color: rgba(0, 0, 0, .6);
}
.contact_type_itemG{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 8px;
    margin-bottom: 16px;
}
.phone_icon:before,
.mail_icon:before,
.chat_icon:before{
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../../images/control/phone.svg) no-repeat center;
    top: 17px;
    left: 16px;
}
.contact_infoTxtUL{
    width: 100%;
    padding:16px 45px 0;
}
.contact_infoTxtUL li{
    position: relative;
    font-weight: 600;
    color: #2980b9;
    margin-bottom: 20px;
}
.contact_infoTxtUL li:nth-child(1){
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 25px;
}
.contact_infoTxtUL li:nth-child(1):before{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 0;
    left: -29px;
}
.contact_infoTxtUL li:nth-child(3){margin-bottom: 26px;}
.contact_infoTxt_hk:before{background: url(../../images/control/hk.svg) no-repeat center;}
.contact_infoTxt_philip:before{background: url(../../images/control/philip.svg) no-repeat center;}
.mail_icon:before{
    width: 15px;
    height: 11px;
    background-image: url(../../images/control/email.svg);
    opacity: .6;
    top: 18px;
}
.contact_infoTxtDiv01{padding: 20px 16px;}
.contact_infoTxtDiv02{padding: 11px 16px 14px;}
.chat_icon:before{background-image: url(../../images/control/B_chat.svg);}
.chat_mini_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background:url(../../images/control/W_chat.svg) no-repeat center rgba(176, 52, 39, .87);
    border-radius: 16px;
    margin: 0 5px;
    top: 3px;
}


/*features*/
.features_list{
    width: 640px;
    margin: auto;
    padding: 8px 0 80px;
}
.features_title,
.features_txt{
    display: block;
    margin: 16px 0;
}
.features_title{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.features_img{
    width: 100%;
    display: block;
}
.features_txt,
.no_info{
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, .64);
}
.no_info{
    margin-top: 32px;
    text-align: center;
}




/*RWD*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .set_type_itemG{width: 100%;}
  
}


@media only screen and (max-width: 767px) {
    .da_linkG{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .da_linkG li:not(:last-child){margin-bottom: 8px; }
    .da_valueG{
        width: 100%;
        margin-bottom: 56px;
    }
    .da_valueG:nth-child(3){margin: 0;}

	.set_type_itemG, .contact_type_itemG, .url_link_itemG{width: 100%;}
    .url_link_itemG:nth-child(1),.url_link_itemG:nth-child(3){float: none;}
}



@media only screen and (min-width:600px) and (max-width: 767px){
    .contact_infoTxtUL{width: 47%;}
    .features_list{
        width: 568px;
    }
    .da_banner:before{
        background-image: url(../images/control/festival360_en.jpg);
        background-size: 360px 120px;
    }
    .da_banner.tw:before{
        background-image: url(../images/control/festival360_tw.jpg);
    }
    .da_banner.cn:before{
        background-image: url(../images/control/festival360_cn.jpg);
    }
}



@media only screen and (max-width: 599px){

	.da_canvas_box {padding-bottom: 10px;}
    .da_canvas_box:after{bottom: 11px;}
    .da_canvas_box.tw:after{bottom: 8px;}

    .set_soprt_btnG .re_titleG span{white-space: pre-line;}    
    .features_list{
        width: 328px;
    }
    .da_banner:before{
        background-image: url(../images/control/festival360_en.jpg);
        background-size: 360px 120px;
    }
    .da_banner.tw:before{
        background-image: url(../images/control/festival360_tw.jpg);
    }
    .da_banner.cn:before{
        background-image: url(../images/control/festival360_cn.jpg);
    }
}

@media only screen and (max-height: 414px) {
    .ar_bg{
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }
    .ar_main, .ar_annG{margin-top: 0;}
}


