<!DOCTYPE html>
<html>
<head>
    <script>{JS}</script>
    <style>{CSS}</style>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
</head>
<body>
<div>


    <div class="bgf0f0f0">
        <div class="contact_title">客服中心将会全天候的为您服务</div>



        <!-- 联络方式 -->
        <div class="contact_typeG nofloat">

            <!-- 电话 -->
            <div  class="contact_type_itemG">
                <div class="set_type_itembg">
                    <div class="contact_type_title phone_icon">
                        电话号码
                    </div>
                    <ul class="contact_infoTxtUL">
                        <li class="contact_infoTxt_hk">香港</li>
                        <li><a href="tel:+852 5808 8664">+852 5808 9063</a></li>
                        <li><a href="tel:+852 5808 8664">+852 5808 8664</a></li>
                    </ul>
                    <ul class="contact_infoTxtUL">
                        <li class="contact_infoTxt_philip">菲律宾</li>
                        <li><a href="tel:+63 915 195 0193">+63 915 195 0193</a></li>
                        <li><a href="tel:+63 915 195 5533">+63 915 195 5533</a></li>
                    </ul>
                </div>
            </div>
            <!-- 电话end -->

            <!-- mail -->
            <div  class="contact_type_itemG">
                <div class="set_type_itembg">
                    <div class="contact_type_title mail_icon">
                        电子邮件
                    </div>
                    <div class="contact_infoTxtDiv01 word_blue">
                        <a href="mailto:royal888crown@hotmail.com">royal888crown@hotmail.com</a>
                    </div>
                </div>
            </div>
            <!-- mail end -->

            <!-- mail -->
            <div  class="contact_type_itemG">
                <div class="set_type_itembg">
                    <div class="contact_type_title chat_icon">
                        在线客服
                    </div>
                    <div class="contact_infoTxtDiv02">
                        点击<span class="chat_mini_icon"></span>图标开始和客服聊天
                    </div>
                </div>
            </div>
            <!-- mail end -->



        </div>
        <!-- 联络方式end -->
    </div>






</div>
</body>
</html>