<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{TITLE}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script id="indexJS">{JS}</script>
    <style id="indexCS">{CSS}</style>
</head>
<body>
<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <font id='content'>{CONTENT}</font> <br />
            <span id="timeinfo"></span><br>
            <input type=button name=button value="刷新" onClick="window.location.reload();">
        </td>
    </tr>
</table>
</body>
</html>
