<!DOCTYPE html>
<html>
<head>
    <script>{JS}</script>
    <style>{CSS}</style>

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
</head>
<body>
<div>


    <!-- 帳號資料 -->
    <div id="acc_show" class="re_detailG"></div>
    <div id="acc_model" class="re_detailG" style="display: none;">
        <h1>
            <span id="back_btn" class="re_detailclose_btn"></span>
            <!-- START DYNAMIC BLOCK: title -->
            <span class="re_detail_title">
                *NAME0*<span>*ALIAS0*</span>
            </span>
            <!-- END DYNAMIC BLOCK: title -->
        </h1>
        <div class="re_detail_scroll">
            <ul class="re_detailUL">
                <!-- START DYNAMIC BLOCK: row0 -->
                <li>
                    <h2>*TITLE*</h2>
                    <h3>*VALUE*</h3>
                </li>
                <!-- END DYNAMIC BLOCK: row0 -->
            </ul>
        </div>
    </div>
    <!-- 帳號資料end -->



</div>
</body>
</html>