<!DOCTYPE html>
<html>
<head>
    <script>{JS}</script>
    <style>{CSS}</style>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
</head>
<body>
<div>

    <!-- 卷轴滑动后在class="re_main_container"后面加上 class="report_fixed" -->
    <div id="showBody" class="re_main_container">


        <!-- 我的活动上方功能 -->
        <div id="re_functionG" class="re_functionG">


            <!-- 搜寻条件 -->
            <div class="re_sreachterm_allG">
                <!-- 搜寻区段 -->
                <div id="ser_date_view" data-sreachitem="时期" class="re_sreachitem hide_on_mini_only hide_on_small_only hide_on_med_only">
                    <div class="re_sreachitem_title" id="ser_date_title">
                         今日
                    </div>
                    <ul  id="ul_date" class="use_animate">
                        <li value = "to" >今日</li>
                        <li value = "yes" >昨日</li>
                        <li value = "tw" >本周</li>
                        <li value = "ThisMonths" >本月</li>
                    </ul>
                </div>



                <label for="sel_date_view" data-sreachitem="时期" class="re_sreachitem_select hide_on_large_only">
                    <select id="sel_date_view">
                        <option value = "to" >今日</option>
                        <option value = "yes" >昨日</option>
                        <option value = "tw" >本周</option>
                        <option value = "ThisMonths" >本月</option>
                    </select>
                    <i></i>
                </label>
                <!-- 搜寻区段end -->
            </div>
            <!-- 搜寻条件 -->



        </div>
        <!-- 我的活动上方功能end -->

        <!-- 报表资料表格 -->
        <div class="re_table_outside" id="showmain"></div>
        <div id="no_data_view" class="data_noneG" style="display:none">无资料</div>

    </div>
    <!-- loading -->
    <div id="report_loading" style="display:none;" class="inside_lds_main">
        <div class="lds_spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- loading end -->
    <!-- 报表资料表格end -->
    <!--XMP-->
    <div style="display:none">
        <xmp id="xmp_header">
            <!-- 报表固定header -->
            <div class="re_head_fixed original">

                <!-- 没有按到的排序class="re_sort"  大到小加上 class="sort_down"  小到大加上 class="sort_up" -->
                <div class="re_table_autoW hide_on_mini_only hide_on_small_only">
                    <table cellpadding="0" cellspacing="0" class="re_table_main">
                        <thead>
                        <!-- 第一行head -->
                        <tr class="re_table_head_actG">
                            <td class="re_td_w10 txtl">
                                <div id="adddate_sort" class="re_tdTxt re_sort">记录日期时间</div>
                            </td>
                            <td class="re_td_w30 txtl">
                                <div class="re_tdTxt">操作者</div>
                            </td>
                            <td class="re_td_w20 txtl">
                                <div class="re_tdTxt">记录</div>
                            </td>
                            <td class="re_td_w10">
                                <div class="re_tdTxt">登陆IP</div>
                            </td>
                            <td class="re_td_w10">
                                <div class="re_tdTxt">IP归属地</div>
                            </td>
                            <td class="re_td_w10">
                                <div class="re_tdTxt">登陆网址</div>
                            </td>
                            <td class="re_td_w10 hide_on_1279down_only"></td>
                        </tr>
                        <!-- 第一行head -->
                        </thead>
                    </table>
                </div>
            </div>
            <!-- 报表固定header end -->


            <!-- 报表资料生成model -->
            <div class="re_body_scroll">
                <div class="re_table_autoW">
                    <table cellpadding="0" cellspacing="0" class="re_table_main">
                        <tbody>
        </xmp>
        <xmp id="xmp_contant">
            <tr class="re_table_body_auto">
                <td class="re_td_w10 txtl hide_on_mini_only hide_on_small_only">
                    *ADDDATE*
                </td>
                <td class="re_td_w30 txtl">
                    <ul class="re_act_list">
                        <li class="hide_on_med_only hide_on_large_only">
                            <tt class="word_bold">*ACTIVITIES*</tt>
                        </li>
                        <li class="hide_on_med_only hide_on_large_only">
                            *ADDDATE*
                        </li>
                        <li>
                            <span class="mr7 word_bold">*USERNAME*</span>
                            <tt class="word_green">*USERTYPE*</tt>
                        </li>
                    </ul>
                </td>
                <td class="re_td_w20 txtl hide_on_mini_only hide_on_small_only">
                    *ACTIVITIES*
                </td>

                <td class="re_td_w10 hide_on_mini_only">
                    *IP*
                </td>
                <td class="re_td_w10 hide_on_mini_only">
                    *ADDRESS*
                </td>
                <td class="re_td_w10 hide_on_mini_only">
                    *URL*
                </td>
                <!-- only phone end -->

                <td class="re_td_w20 txtl down_txt hide_on_small_only hide_on_med_only hide_on_large_only">
                    <ul class="re_act_list">
                        <li>
                            <span class="re_act_newoldTxt">*IP*</span>
                        </li>
                        <li class="mt4">
                            <span class="re_act_newoldTxt">*ADDRESS*</span>
                        </li>
                        <li class="mt4">
                            <span class="re_act_newoldTxt">*URL*</span>
                        </li>
                    </ul>
                </td>
                <td class="re_td_w10 hide_on_1279down_only"></td>
            </tr>
        </xmp>
        <xmp id="xmp_foot">
            </tbody>
            </table>
    </div>
</div>
<!-- 报表资料生成model end -->
</xmp>
</div>
</div>
<div>

</body>
</html>