<!DOCTYPE html>
<html>
<head>
  <script>{JS}</script>
  <style>{CSS}</style>

  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title></title>
</head>
<body>
<div>

  <div class="tbet_main" >

    <!-- 玩法menu -->
    <!-- 分頁按鈕當前選項 class="on" -->
    <div class="bet_menu_typeG" style="position: fixed;top:56px;z-index: 8;width: 100%;background-color: #FFFFFF;">
      <ul class="re_titleG">
        <li id="setting_UP" class="on">前端采集</li>
        <li id ="setting_DOWN">后台采集</li>
        <li id ="setting_URL">备用URL</li>
        <li id ="setting_AG">赛果采集</li>
      </ul>
    </div>
    <!-- 玩法menu end -->
    <!-- 球類與賽事 -->
    <div id="setting_body" class="re_main_container"></div>
    <!-- 球類與賽事 end -->


  </div>



</div>
</body>
</html>