<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8"utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit MA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>{JS}</script>
    <style>{CSS}</style>
</head>
<body class="">
<div class="acc_edit">
    <div class="acc_edit acc_ag_edit">
        <div id="acc_edit_offset">
            <ul class="acc_menu">
                <li id="log_login" class="on">登陆日志</li>
                <li id="log_record">查看记录</li>
            </ul>
        </div>
        <div id="div_log_login" class="accedit_bg">
            <!--import log_login html-->
        </div>

        <div id="div_log_record" class="accedit_bg">
            <!--import log_record html-->
        </div>
    </div>
</div>
</body>
</html>