/*change-password forget-password pre-login-create-id*/
.ps_main{
    position: relative;
    width: 100%;
    height: 100%;
}
.ps_title{
    position: relative;
    width: 100%;
    height: 56px;
    padding-left:20px;
    line-height: 56px;
    background-color: #b03427;
    color: #fff;
    font-size: 18px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.ps_back_btn{
    width: 16px;
    height: 56px;
    background:url(../../images/control/back_white.svg) no-repeat center;
    margin-right: 20px;
    opacity: 1 ;
}
.psG,
.psG_paddingRL0{
    width: 360px;
    padding: 22px 16px 35px;
    background-color:#fff;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
    margin: 56px auto 0;
}
.psG_paddingRL0{padding: 22px 0 33px;}
.ps_note,
.ps_noteNo{
    position: relative;
    padding-right: 27px;
    margin-bottom: 35px;
}
.ps_noteNo{
    padding-right: 0;
    margin-top: 2px;
}
.mail_functionG + .ps_noteNo{margin-top:21px ;}
.ps_noteIconG{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto;
}
.ps_noteIconG:after{
    content:'';
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background:url(../../images/control/info.svg) no-repeat;
    background-size: cover;
    opacity: .5;
    top: 0;
    left: 0;
}
.ps_noteTxt{
    position: absolute;
    width: 296px;
    padding:14px 16px 3px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    top: 18px;
    right: -7px;
    z-index: 2;
}
.ps_noteTxt li{
    font-size: 13px;
    margin-bottom: 11px;
}

.ps_input{
    position: relative;
    margin-top: 33px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.ps_input:before{
    content: attr(data-pwtitle);
    position: absolute;
    height: 16px;
    font-weight: 300;
    font-size: 12px;
    top: -21px;
    left: -1px;
}
.ps_input input{width: 100%;height: 100%;padding: 0 48px 0 15px; background-color: transparent; border: 0;font-size: 16px;}
.ps_noteNo + .ps_input{margin: 0;}
.scss_icon:after,
.scss_iconS:after{
    content:'';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background:url(../../images/control/successful.svg) no-repeat;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;
}
.scss_iconS:after{right: 92px;}/*有CHECK時*/
.ps_endInput{margin-top: 14px;}
.ps_mini_btnG{
    width: 100%;
    height: 48px;
    text-align: right;
    margin-top: 16px;
}

.ps_end_note{
    padding: 14px 10px 12px 15px;
    line-height: 1.25;
    background-color:#f5f5f5;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: -.1px;
    margin-top: 16px;
}
.ps_end_note h1{margin-bottom: 4px;}

.ps_reset_btn{
    position: relative;
    float: left;
    height: 100%;
    line-height: 36px;
    padding-left: 24px;
    background:transparent;
    color: #2980b9;
    font-weight: 600;
    opacity: 1;
}
.ps_reset_btn:before{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 100%;
    background: url(../../images/control/reset.svg) no-repeat center ;
    left:0;
    opacity: 1;
}
.ps_reset_btn.on{opacity: .3;}


.ps_input input.ps_chk_enter{width: 210px;}
.ps_chk_btn{
    display: block;
    width: 76px;
    height: 100%;
    background-color: rgba(117, 117, 117, .4);
    color: #fff;
    font-weight: bold;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.ps_chk_btn.on{background-color: rgba(117, 117, 117, 1);}

.ps_scssG{position: relative;
    width: 360px;
    padding:70px 16px 32px;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
    text-align: center;
    margin: 56px auto auto;
}
.ps_scssG:before{
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background:url(../../images/control/successful.svg) no-repeat; background-size: cover;
    top: 32px;
    left: 0;
    right: 0;
    margin: auto;
}
.ps_scssG h1{
    font-size: 18px;
    margin-bottom: 5px;
}
.ps_scssG p{
    font-size: 12px;
    font-weight: 300;
}
.ps_strengthG{
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    margin: 3px auto 6px;
}
.ps_strength_danger{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.ps_strength_img{position: relative;
    top: 0;
    bottom: 0;
    margin: auto 3px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.ps_strength_img li{
    width: 8px;
    height: 4px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    margin-right: 1px;
}
.ps_strength_light1 li:nth-child(1){
    background-color: #c0382b;
    border: 0;
}
.ps_strength_light2 li:nth-child(1),
.ps_strength_light2 li:nth-child(2){
    background-color: #c0382b;
    border: 0;
}
.ps_strength_light3 li:nth-child(1),
.ps_strength_light3 li:nth-child(2),
.ps_strength_light3 li:nth-child(3),
.ps_strength_light4 li:not(:last-child),
.ps_strength_light5 li{
    background-color: #38bb8f;
    border: 0;
}