<!DOCTYPE html>
<html class="notranslate" translate="no">
<head>
	<title></title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="google" content="notranslate">
	<script id="indexJS">{JS}</script>
	<style id="indexCS">{CSS}</style>
</head>
<body onload = "new index(window, document).init();">
<div id="main" class="main">
	<div id="home_show" class="ma_all" style="display:none">

		<!-- 上menu -->
		<nav class="ma_header" id="top_menu_show"></nav>
		<!-- 上menu end -->

		<!-- 左menu -->
		<!-- 左邊內容打開時 class="ma_left"跟class="ma_content"後面加上class="ma_extend" -->
		<div class="ma_left" id="left_menu_show"></div>
		<!-- 左menu end -->

		<!-- 中間info -->
		<div class="ma_main" id="dashboard_main">
			<!-- 正中大區塊內容 -->
			<div class="ma_content" id="ma_content" name="prev_scroll_lock">
				<div id="main_header" class="main_header">
					<span class="mu_back_btn" id="back" style=""></span>
					<div class="mu_infoG">
						<span id="page_menu" class="mu_level" style="display:none"></span>
						<!-- 通用標題 -->
						<div id="page_name" class="mu_name"></div>
					</div>
				</div>
				<div class="ma_body" id="body_show" ></div>
				<div class="ma_footer" id="footer_show">
					<div class="list_box">
						<ul class="footer_list">
							<li class="footer_item icon_lang">語言:<span>繁體</span></li>
							<li class="footer_item icon_url">
								<span>最新網址</span>
							</li>
							<li class="footer_item icon_features">
								<span>特色</span>
							</li>
							<li class="footer_item icon_system">
								<span>系統需求</span>
							</li>
						</ul>
						<ul class="footer_list tel">
							<li class="item_title">客服電話</li>
							<li class="contact_txt icon_phone">
								<span>+852 5808 9063</span>
								<span>+852 5808 8664</span>
							</li>
							<li class="contact_txt icon_phone">
								<span>+63 915 195 0193 </span>
								<span>+63 915 195 5533</span>
							</li>
						</ul>
						<ul class="footer_list icon_contact">
							<li class="item_title">聯繫客服</li>
							<li class="contact_txt icon_email">
								<span>royal888crown@hotmail.com</span>
							</li>
							<li class="footer_item icon_chat">
								<span>在線客服</span>
							</li>
						</ul>
					</div>
					<div class="copyright">
						版權聲明 © 2026。 版權所有
					</div>
				</div>
			</div>
			<!-- 正中大區塊內容 -->

			<!-- loading -->
			<div class="ma_loading" id="loading">
				<div class="lds_index_main">
					<div class="lds_index_all">
						<div class="lds_spinner"></div>
						<ul id="load_txt" class="lds_article">
							<li>頁面載入有問題嗎？</li>
							<li>可能是網路問題，或瀏覽器不支援所導致。</li>
							<li>請查看 <a class="word_link_new">系統需求</a>（支援的瀏覽器）。</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- loading end -->


			<!-- code alert -->
			<div id="codeAlert" class="ps_sendCode">
				<span id="codeMsg"></span>
				<input id="btn_copy" type="button" class="ps_sendCode_btn" value="COPY" style="display: none;">



				<!-- copy訊息 -->
				<span id="copyArea" class="ps_copyArea"></span>
				<!-- copy訊息end -->
			</div>
			<!-- code alert end -->



			<!-- back to Top -->
			<div id="backtop" class="backtop_btn" style="display:none"></div>
			<!-- back to Top end -->



			<!-- 透明遮罩 -->
			<div id="leftBigMask" class="ma_left_mask" name="prev_scroll_lock"></div>
			<!-- 透明遮罩end -->

		</div>
		<!-- 中間info end -->





		<!-- 下menu -->
		<div class="ma_foot" id="bottom_menu_show"></div>
		<!-- 下menu end -->





		<!-- 右detail -->
		<!-- 右邊內容打開時 class="ma_right"後面加上class="ma_extend" 再配合各種不同頁面替換寬度 -->
		<div id="right_show" class="ma_right w200px" style="display:none" name="prev_scroll_lock"></div>
		<!-- 右detail end -->
		<!-- 透明遮罩 -->
		<!-- <div id="rightBigMask" class="ma_right_mask"></div> -->
		<!-- 透明遮罩end -->





		<!-- alert -->
		<div id="alert_show" class="ma_alert" style="display:none"></div>
		<!-- alert end -->


		<!-- alert_choose -->
		<div id="alert_choose_show" class="ma_alert" style="display:none"></div>
		<!-- alert_choose end -->


		<!-- Announcement alert -->
		<div id="anno_show" class="ma_alert" style="display:none"></div>
		<!-- Announcement alert end -->


		<!-- first ann alert -->
		<div id="notice_show" class="ma_alert" style="display:none"></div>
		<!-- first ann alert end -->


		<!-- new note -->
		<div id="newnote_show" class="ma_alert" style="display:none"></div>
		<!-- new note end -->

	</div>

	<!-- login -->
	<div id="acc_show" class="ma_onepage"></div>
	<!-- login -->

	<!-- report filter -->
	<div id="filter_show" class="ma_onepage" name="prev_scroll_lock" style="display: none"></div>
	<!-- report filter end -->


	<!-- filter_loading -->
	<div class="filter_loading" id="filter_loading"style="display: none">
		<div class="lds_index_main">
			<div class="lds_index_all">
				<div class="lds_spinner"></div>
				<ul id="load_txt02" class="lds_article">
					<li>頁面載入有問題嗎？</li>
					<li>可能是網路問題，或瀏覽器不支援所導致。</li>
					<li>請查看 <a class="word_link_new">系統需求</a>（支援的瀏覽器）。</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- loading end -->
</div>

</body>
</html>
